.parchment {
  position: relative;
  padding: 3rem 4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 800px) {
    padding: 1rem 1rem;
  }
}

.parchment::before,
.parchment::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  bottom: 1.5rem;
  width: 32px;
  background-image: url("./assets/norse-runes.png");
  background-repeat: repeat-y;
  background-size: contain;

  opacity: 0.8;
}

.parchment::before {
  left: 1rem;
}

.parchment::after {
  right: 1rem;
  transform: scaleX(-1);
}
