.parchment {
  position: relative;
  padding: 3rem 4rem;
  background: linear-gradient(180deg, #e9f6ff 0%, #a7dbff 45%, #2a6fb8 100%);
  background-attachment: fixed;
  @media (max-width: 800px) {
    padding: 1rem 1rem;
  }
}

.parchment::before,
.parchment::after {
  display: none;
}
