.bounceCardsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 400px;
}

.card {
  position: absolute;
  width: 70%;
  height: auto;
  aspect-ratio: 3 / 4;
  border: 5px solid #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
@media (max-width: 600px) {
  .bounceCardsContainer {
    height: 200px;
  }
  .card {
    width: 200px;
    height: auto;
    aspect-ratio: 3 / 4;
  }
}
.card .image {
  width: 60%;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
  margin: 0 auto 15px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.card .content {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.card .title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.card .description {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.4;
}